# see /etc/inputrc for global inputrc for libreadline
# see https://man.archlinux.org/man/readline.3 for syntax/variable reference

set bell-style none
set mark-symlinked-directories On

set editing-mode vi
set show-mode-in-prompt On

# see https://www.reddit.com/r/kde/comments/k9gf3z/cursor_not_blinking_in_konsole_when_set_to_vi_mode
set keyseq-timeout 1
$if term=linux
        set vi-ins-mode-string \1\e[?0c\2
        set vi-cmd-mode-string \1\e[?8c\2
$else
        set vi-ins-mode-string \1\e[5 q\2
        set vi-cmd-mode-string \1\e[1 q\2
$endif

set completion-ignore-case On
set completion-map-case On

set visible-stats On
set colored-stats On
set colored-completion-prefix On

set show-all-if-ambiguous On
set menu-complete-display-prefix On
"\t": menu-complete
"\e[Z": menu-complete-backward

$if mode=vi
        set keymap vi-insert
        Control-l: clear-screen 
$endif
